@using Lifena.Models.Entity
@model List<TblAbout>

@{
    ViewBag.Title = "About";
}
<body class="alternative-font-7">
    <div class="body mt-0">
        <div role="main" class="main">
            <section class="page-header page-header-modern bg-transparent">
                <div class="container pt-5 mt-5">
                    <div class="row py-5">
                        <div class="col text-center">
                            <h1 class="text-color-dark text-8 font-weight-bold">Hakkımızda</h1>
                        </div>
                        @foreach (var x in Model)
                        {
                            <div class="container my-5 pb-2">
                                <div class="row align-items-center mb-4">
                                    <div class="row align-items-center justify-content-around mt-3">
                                        <div class="col-lg-4 text-end p-relative pt-5 max-width-custom-1">
                                            <div class="p-absolute left-0" style="top: -40px;">
                                                <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                                                    <img width="470" height="451" src="~/img/demos/business-consulting-5/svg/icon-bg-2.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
                                                </div>
                                            </div>
                                            <div data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}" style="top: -150px;">
                                                <img width="376" height="350" src="~/img/demos/business-consulting-5/about/hakkımızda1.png" alt="Açıklama" style="border-radius: 50%; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);" />
                                            </div>
                                        </div>
                                        <div class="col-lg-5 text-center text-lg-start">
                                            <h4 class="mt-5 pt-4">@x.title</h4>
                                            <br />
                                            @x.description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
            <div class="container mb-5">
                <div class="row">
                    <div class="col">
                        <hr style="border: 3px solid orange;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
