@{
    ViewBag.Title = "Contact";
}
<body class="alternative-font-7">
    <div class="body mt-0">
        <div role="main" class="main">
            <section class="page-header page-header-modern bg-transparent">
                <div class="container pt-5 mt-5">
                    <div class="row py-5">
                        <div class="col text-center">
                            <h1 class="text-color-dark text-8 font-weight-bold">Bizimle İletişime Geçin!</h1>
                            <br /><br />
                            <p class="text-4 text-dark line-height-4 opacity-6 mb-4">Fikirleriniz, projeleriniz ya da sadece bir sorunuz mu var? Biz her zaman burada, sizinle iletişime geçmeye hazırız. NexLumo ekibi olarak, topluluğumuzla büyüyor, gelişiyor ve her gün yeni şeyler öğreniyoruz. Hayat yolculuğunuzda kararlılık, motivasyon ve gelişim için birlikte adım atmak istiyoruz. Bize ulaşarak düşüncelerinizi paylaşın, sorularınıza cevap bulalım ya da gelecekte birlikte neler yapabileceğimizi konuşalım.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section bg-dark m-0 border-0">
                <div class="container py-5">
                    <div class="row justify-content-between align-items-center py-5">
                        <div class="col-lg-6 text-center text-lg-start py-5">
                            <h3 class="mb-4 text-color-light">Bizimle İletişime Geçin</h3>
                            <p class="text-4 text-light line-height-4 opacity-6 mb-4">Bizimle doğrudan iletişime geçmek için aşağıdaki e-posta adresini kullanabilirsiniz. Fikirlerinizi, sorularınızı veya paylaşmak istediğiniz herhangi bir konuyu bizimle paylaşmak için sabırsızlanıyoruz!</p>
                            <p class="text-4 text-light line-height-4 opacity-6 mb-4">NexLumo ailesine katılmak ve bizimle iş birliği yapmak için bize ulaşın. Aşağıdaki mail adresi üzerinden iletişime geçebilirsiniz:</p>
                            <h4 class="text-color-light mb-0"><i class="icons icon-envelope text-4 p-relative top-5 me-2"></i><a href="mailto:info@nexlumo.com" class="text-decoration-none text-light">info@nexlumo.com</a></h4>
                        </div>
                        <div class="col-lg-5 py-5">
                            <div class="card border-radius bg-color-light border-0 box-shadow-3">
                                <div class="card-body p-5 m-2 text-center">
                                    <h4 class="card-title mb-2 text-4">Blog Yazılarımıza Katkıda Bulunun</h4>
                                    <p class="text-4 text-dark line-height-4 opacity-6 mb-4">Siz de blog yazılarımıza katkıda bulunmak ister misiniz? İlham verici bir hikayeniz veya paylaşmak istediğiniz bir konu varsa, düşüncelerinizi bizimle paylaşın! O zaman sizin de blog yazılarımızda yer alma vaktiniz geldi. Bize mail atarak birlikte ilham yaratalım.</p>
                                    <h4 class="text-color-dark"><i class="icons icon-envelope text-4 p-relative top-5 me-2"></i><a href="mailto:info@nexlumo.com" class="text-decoration-none text-dark">info@nexlumo.com</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
