
@{
    ViewBag.Title = "Admin_Blog";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<style>
    .cards-medical-services .card {
        margin-bottom: 30px; /* İstenilen boşluk değeri */
    }

    .cards-medical-services .card-body {
        margin: 20px; /* İstenilen dikey ve yatay boşluk değeri */
    }
</style>
<div class="container-fluid py-3">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="cards-medical-services row flex-wrap justify-content-center">
                    <div class="card-header pb-0 px-3">
                        <a href="/Blog/NewBlog/" class="btn btn-outline-light">Yeni blog yazısı ekle</a>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <article>
                            <div class="card border-0 border-radius-0">
                                <div class="card-body bg-color-light-scale-1 p-4 z-index-1">
                                    <a href="demo-architecture-2-blog-post.html">
                                        <img class="card-img-top border-radius-0 hover-effect-2" src="~/img/demos/business-consulting-5/blog/Blog1.png" alt="Card Image">
                                    </a>
                                    <p class="text-uppercase text-1 mb-3 pt-1 text-color-default">
                                        <time pubdate="" datetime="2022-01-10">Tarih</time>
                                        <span class="opacity-3 d-inline-block px-2">|</span>
                                        Yazar
                                    </p>
                                    <div class="card-body p-0">
                                        <h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-bold text-3-5" href="#">Baslik</a></h4>
                                        <p class="card-text mb-2">Aciklama</p> <br />
                                        <a href="/Blog/BlogYazisi/" class="btn btn-group-toggle">Blog yazısı</a> &nbsp;
                                        <a href="/Blog/BlogSil/" class="btn btn-danger">Sil</a>
                                        @*
                                            @if (x.OneCikan == true)
                                            {
                                                <a href="/Blog/OneCikanKaldir" class="btn btn-warning">Öne Çıkan Kaldır</a>
                                            }
                                            else if (x.OneCikan == false)
                                            {
                                                <a href="/Blog/OneCikanEkle" class="btn btn-success">Öne Çıkan Yap</a>
                                            }
                                            else
                                            {
                                                <a href="/Blog/OneCikanEkle" class="btn btn-success">Öne Çıkan Yap</a>
                                            }
                                        *@
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>