
@{
    ViewBag.Title = "Admin_NewTeam";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<form method="post">
    <div class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <p class="text-uppercase text-sm">YENİ EKİP ÜYESİ</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Fotoğraf</label>
                                    <input class="form-control" type="text" id="img" name="Fotograf" value="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">İsim Soyisim</label>
                                    <input class="form-control" type="text" id="fullname" name="İsim" value="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Unvan</label>
                                    <input class="form-control" type="text" id="mission" name="mission" value="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Instagram Link</label>
                                    <input class="form-control" type="text" id="socialMediaLink1" name="socialMediaLink1" value="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Linkedin Link</label>
                                    <input class="form-control" type="text" id="socialMediaLink2" name="socialMediaLink2" value="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Github Link</label>
                                    <input class="form-control" type="text" id="socialMediaLink3" name="socialMediaLink3" value="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Kişisel Website Link</label>
                                    <input class="form-control" type="text" id="website" name="website" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-info">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

