@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<body class="alternative-font-7">
    <div class="body mt-0">
        <div role="main" class="main">

            <section class="page-header page-header-modern page-header-lg bg-tertiary border-0 my-0">
                <div class="container my-3">
                    <div class="row">
                        <div class="col-md-12 align-self-center p-static order-2 text-center">
                            <h1 class="font-weight-bold text-10">Hakkımızda</h1>
                        </div>
                        <div class="col-md-12 align-self-center order-1">
                            <ul class="breadcrumb breadcrumb-light d-block text-center">
                                <li><a href="#">Anasayfa</a></li>
                                <li class="active">Hakkımızda</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container my-5 pb-2">
                <div class="row align-items-center mb-4">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="d-flex align-items-center mb-2">
                            <span class="custom-line appear-animation animated customLineAnimation appear-animation-visible" data-appear-animation="customLineAnimation" data-appear-animation-delay="1200" appear-animation-duration="1s" style="animation-delay: 1200ms;"></span>
                            <div class="overflow-hidden ms-3">
                                <h2 class="text-color-primary font-weight-semibold line-height-3 text-4 mb-0 appear-animation animated maskRight appear-animation-visible" data-appear-animation="maskRight" data-appear-animation-delay="2200" style="animation-delay: 2200ms;">BİZ KİMİZ ve AMACIMIZ NEDİR?</h2>
                            </div>
                        </div>
                        <h3 class="text-color-secondary font-weight-bold text-transform-none line-height-2 text-7 mb-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="2400" style="animation-delay: 2400ms;">
                            Lifena, Grodea şirketi bünyesinde geliştirilmiş bir motivasyon ve yaşam koçluğu platformudur.<br>
                        </h3>
                        <p class="custom-font-secondary text-4 mb-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="2600" style="animation-delay: 2600ms;"> Amacımız, insanların günlük yaşamlarında karşılaştıkları zorlukları aşmalarına yardımcı olmak ve içsel motivasyonlarını artırmalarını sağlamaktır. Biz, her bireyin içinde büyük bir potansiyel olduğuna inanıyoruz ve bu potansiyeli açığa çıkarmak için rehberlik etmeyi amaçlıyoruz.</p>
                        <p class="mb-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="2800" style="animation-delay: 2800ms;">Lifena ekibi olarak, kişisel gelişim, motivasyon ve hayatı daha pozitif bir perspektiften yaşamanın gücüne inanıyoruz. Blog yazılarımız, motivasyon sözlerimiz ve başarı hikayelerimizle ziyaretçilerimize ilham kaynağı olmayı hedefliyoruz. Ayrıca, profesyonel koçluk hizmetlerimizle de bireylerin hedeflerine ulaşmaları için yanlarında yer alıyoruz.</p>
                        <p class="mb-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="3000" style="animation-delay: 3000ms;">Hedefimiz, sadece anlık bir motivasyon değil, sürdürülebilir bir yaşam disiplini kazandırmak ve insanların daha anlamlı bir hayat sürmelerine katkı sağlamaktır. </p>
                    </div>
                    <div class="col-sm-10 col-lg-6 offset-sm-1 ps-sm-5 ps-lg-0">
                        <div class="position-relative">
                            <div data-plugin-float-element="" data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}" style="top: 0px; transition: transform 1000ms ease-out; transform: translate3d(0px, 7.31911%, 0px);">
                                <img src="img/demos/cleaning-services/generic/generic-2.jpg" class="img-fluid rounded-circle custom-box-shadow-1 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="2600" alt="" style="animation-delay: 2600ms;">
                            </div>
                            <div class="position-absolute top-50pct left-50pct transform3dxy-n50" style="left: 25%;">
                                <div data-plugin-float-element="" data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}" style="top: 0px; transition: transform 1000ms ease-out; transform: translate3d(0px, 5.50566%, 0px);">
                                    <img src="img/demos/cleaning-services/generic/generic-1.jpg" class="img-fluid rounded-circle custom-box-shadow-1 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="2200" alt="" style="animation-delay: 2200ms;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row justify-content-center pb-2 mb-3">
                    <div class="col-md-9 col-lg-12 text-center">
                        <h2 class="text-color-secondary font-weight-bold line-height-6 mb-3 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">Ekibimiz</h2>
                        <p class="custom-font-secondary text-4 mb-3 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultri.</p>
                    </div>
                </div>
                <div class="row appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                    <div class="col">
                        <div class="owl-carousel nav-outside nav-arrows-1 appear-animation owl-theme owl-carousel-init owl-loaded owl-drag fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 2}, '1199': {'items': 2}}, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': false, 'margin': 20, 'stagePadding': '75'}" style="height: auto; animation-delay: 750ms;">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 1275px;">
                                    <div class="owl-item active" style="width: 298.667px; margin-right: 20px;">
                                        <div>
                                            <div class="card custom-card-style-1 custom-card-style-1-variation">
                                                <div class="card-body text-center bg-color-light-scale-1 py-5">
                                                    <div class="custom-card-style-1-image-wrapper bg-primary rounded-circle d-inline-block mb-3">
                                                        <a href="#">
                                                            <img src="img/demos/cleaning-services/team/team-1.jpg" class="img-fluid rounded-circle" alt="">
                                                        </a>
                                                    </div>
                                                    <h4 class="text-color-secondary font-weight-bold line-height-1 text-5 mb-0"><a href="#" class="text-color-secondary text-color-hover-primary text-decoration-none">John Doe</a></h4>
                                                    <p class="text-2 pb-1 mb-2">General Cleaner</p>
                                                    <ul class="social-icons custom-social-icons social-icons-big">
                                                        <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                                        <li class="social-icons-twitter mx-2"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 298.667px; margin-right: 20px;">
                                        <div>
                                            <div class="card custom-card-style-1 custom-card-style-1-variation">
                                                <div class="card-body text-center bg-color-light-scale-1 py-5">
                                                    <div class="custom-card-style-1-image-wrapper bg-primary rounded-circle d-inline-block mb-3">
                                                        <a href="#">
                                                            <img src="img/demos/cleaning-services/team/team-2.jpg" class="img-fluid rounded-circle" alt="">
                                                        </a>
                                                    </div>
                                                    <h4 class="text-color-secondary font-weight-bold line-height-1 text-5 mb-0"><a href="#" class="text-color-secondary text-color-hover-primary text-decoration-none">Judie Doe</a></h4>
                                                    <p class="text-2 pb-1 mb-2">General Cleaner</p>
                                                    <ul class="social-icons custom-social-icons social-icons-big">
                                                        <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                                        <li class="social-icons-twitter mx-2"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>





    </div>
</body>
