@{
    ViewBag.Title = "About";
}
<body class="alternative-font-7">

    <div class="body mt-0">

        <div role="main" class="main">

            <section class="page-header page-header-modern bg-transparent">
                <div class="container pt-5 mt-5">
                    <div class="row py-5">
                        <div class="col text-center">
                            <h1 class="text-color-dark text-8 font-weight-bold">About Us</h1>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container pt-4 pb-5 mb-5">
                <div class="row">
                    <div class="col">
                        <p class="font-weight-medium text-4-5 line-height-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum eleifend eros a pharetra. Cras aliquam vestibulum vehicula. Sed sed lectus risus. Vestibulum maximus ac purus in euismod. In venenatis tellus ante, id porta risus semper quis. Aenean vel posuere urna, sit amet placerat massa. Quisque efficitur interdum libero, sed dictum lorem euismod sed.</p>
                        <p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum eleifend eros a pharetra. Cras aliquam vestibulum vehicula. Sed sed lectus risus. Vestibulum maximus ac purus in euismod. In venenatis tellus ante, id porta risus semper quis. Aenean vel posuere urna, sit amet placerat massa. Quisque efficitur interdum libero, sed dictum lorem euismod sed.</p>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <img src="img/demos/business-consulting-5/generic/generic-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6">
                        <img src="img/demos/business-consulting-5/generic/generic-2.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-lg-8 text-center text-lg-start">
                        <h3 class="mt-5 pt-4">Ongoing analysis of your<br>industry competitors</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eleifend dolor, et maximus enim.<br> Donec metus tellus, ornare in fermentum in, vulputate ut lorem.</p>
                        <a href="#" class="btn btn-modern btn-secondary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5">Learn More</a>
                    </div>
                    <div class="col-lg-4 p-relative pt-5 max-width-custom-1">
                        <div class="p-absolute left-0">
                            <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                                <img width="470" height="451" src="img/demos/business-consulting-5/svg/icon-bg-2.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
                            </div>
                        </div>
                        <div data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                            <img width="376" height="350" src="img/demos/business-consulting-5/svg/icon-2.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary mt-5 pt-5'}" />
                        </div>
                    </div>
                </div>
                <div class="row mt-5 py-5">
                    <div class="col-lg-6">
                        <p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum eleifend eros a pharetra. Cras aliquam vestibulum vehicula. Sed sed lectus risus. Vestibulum maximus ac purus in euismod.</p>

                        <div class="row text-center mt-4">
                            <div class="col-md-6 mb-4 mb-md-0">
                                <img src="img/demos/business-consulting-5/icons/icon-3.png" class="img-fluid mb-3" alt="">
                                <h4 class="mb-1">Top Seo 2022</h4>
                                <p>Porto Awards 2022</p>
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <img src="img/demos/business-consulting-5/icons/icon-4.png" class="img-fluid mb-3" alt="">
                                <h4 class="mb-1">Top Seo 2022</h4>
                                <p>Porto Awards 2022</p>
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <img src="img/demos/business-consulting-5/icons/icon-5.png" class="img-fluid mb-3" alt="">
                                <h4 class="mb-1">Top Seo 2022</h4>
                                <p>Porto Awards 2022</p>
                            </div>
                            <div class="col-md-6 mb-4 mb-md-0">
                                <img src="img/demos/business-consulting-5/icons/icon-6.png" class="img-fluid mb-3" alt="">
                                <h4 class="mb-1">Top Seo 2022</h4>
                                <p>Porto Awards 2022</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="accordion accordion-modern-status accordion-modern-status-arrow" id="accordion200">
                            <div class="card card-default">
                                <div class="card-header bg-transparent bg-hover-quaternary transition-2ms" id="collapse200HeadingOne">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-transparent border-0 text-color-dark font-weight-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse200One" aria-expanded="false" aria-controls="collapse200One">
                                            1 - Tristique sit amet condim vel?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse200One" class="collapse" aria-labelledby="collapse200HeadingOne" data-bs-parent="#accordion200">
                                    <div class="card-body pb-0">
                                        <p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header bg-transparent bg-hover-quaternary transition-2ms" id="collapse200HeadingTwo">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-transparent border-0 text-color-dark font-weight-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse200Two" aria-expanded="false" aria-controls="collapse200Two">
                                            2 - Cras a elit sit amet leo accumsan?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse200Two" class="collapse" aria-labelledby="collapse200HeadingTwo" data-bs-parent="#accordion200">
                                    <div class="card-body pb-0">
                                        <p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header bg-transparent bg-hover-quaternary transition-2ms" id="collapse200HeadingThree">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-transparent border-0 text-color-dark font-weight-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse200Three" aria-expanded="false" aria-controls="collapse200Three">
                                            3 - Hel officitur felis ultricis nan?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse200Three" class="collapse" aria-labelledby="collapse200HeadingThree" data-bs-parent="#accordion200">
                                    <div class="card-body pb-0">
                                        <p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header bg-transparent bg-hover-quaternary transition-2ms" id="collapse200HeadingFour">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-transparent border-0 text-color-dark font-weight-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse200Four" aria-expanded="false" aria-controls="collapse200Four">
                                            4 - Wuspaisse hendreirit vehicula leo?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse200Four" class="collapse" aria-labelledby="collapse200HeadingFour" data-bs-parent="#accordion200">
                                    <div class="card-body pb-0">
                                        <p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header bg-transparent bg-hover-quaternary transition-2ms" id="collapse200HeadingFive">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-transparent border-0 text-color-dark font-weight-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse200Five" aria-expanded="false" aria-controls="collapse200Five">
                                            5 - Lintegers aliquet ullamcorper dollor, quis sollic tudin?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse200Five" class="collapse" aria-labelledby="collapse1HeadingFive" data-bs-parent="#accordion200">
                                    <div class="card-body pb-0">
                                        <p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="section bg-dark m-0 border-0">
                <div class="container py-5">
                    <div class="row py-5 justify-content-center">
                        <div class="col-lg-6 text-center py-5">
                            <h3 class="mb-4 text-color-light">Ready To Transform Your Small Business Marketing?</h3>
                            <p class="text-4 text-light line-height-4 opacity-6 mb-4">Lorem ipsum dolor sit amet, consectetur lorem ipsum aipiscing anc vivita consectetur lorem ipsum aipiscing anc vivita consectetur lorem ipsum aipiscing anc vivita.</p>

                            <div class="hstack d-block d-lg-flex gap-3">
                                <div class="ms-auto">
                                    <i class="icons icon-envelope text-color-primary text-8 p-relative top-12 me-2"></i>
                                    <a href="mailto:you@domain.com" class="text-decoration-none text-5 text-primary text-color-hover-light ws-nowrap font-weight-semi-bold">porto@domain.com</a>
                                </div>
                                <div class="vr mx-4 p-relative top-10 d-none d-lg-inline-block"></div>
                                <div class="me-auto mt-3 mt-lg-0">
                                    <i class="icons icon-phone text-color-primary text-8 p-relative top-10 me-2"></i>
                                    <a href="tel:+1234567890" class="text-decoration-none text-5 text-primary text-color-hover-light ws-nowrap font-weight-semi-bold">888 123 4567</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</body>
