@{
    ViewBag.Title = "Contact";
}
<body class="alternative-font-7">
    <div class="body mt-0">
        <div role="main" class="main">
            <section class="page-header page-header-modern bg-transparent">
                <div class="container pt-5 mt-5">
                    <div class="row py-5">
                        <div class="col text-center">
                            <h1 class="text-color-dark text-8 font-weight-bold">Bizimle İletişime Geçin!</h1>
                            <br /><br />
                            <p class="text-4 text-dark line-height-4 opacity-6 mb-4">Fikirleriniz, projeleriniz ya da sadece bir sorunuz mu var? Biz her zaman burada, sizinle iletişime geçmeye hazırız. Lifena ailesi olarak, topluluğumuzla büyüyor, gelişiyor ve her gün yeni şeyler öğreniyoruz. Hayat yolculuğunuzda kararlılık, motivasyon ve gelişim için birlikte adım atmak istiyoruz. Bize ulaşarak düşüncelerinizi paylaşın, sorularınıza cevap bulalım ya da gelecekte birlikte neler yapabileceğimizi konuşalım.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section bg-dark m-0 border-0">
                <div class="container py-5">
                    <div class="row justify-content-between align-items-center py-5">
                        <div class="col-lg-6 text-center text-lg-start py-5">
                            <h3 class="mb-4 text-color-light">Blog Yazılarımıza Katkıda Bulunun</h3>
                            <p class="text-4 text-light line-height-4 opacity-6 mb-4">Sizin de söyleyecekleriniz var mı? Blog yazılarımıza katkıda bulunmak ister misiniz? İlham verici bir hikayeniz, paylaşmak istediğiniz bir deneyim veya konuşulmasını istediğiniz bir konu varsa, düşüncelerinizi bizimle paylaşın! O zaman sizin de blog yazılarımızda yer alma vaktiniz geldi. Hemen blog konunuzu paylaşın, birlikte ilham yaratalım.</p>
                            <p class="text-4 text-light line-height-4 opacity-6 mb-4">Bizimle iletişime geçmek için yandaki formu doldurabilirsiniz. Sadece birkaç adımda, düşüncelerinizi, sorularınızı ya da paylaşmak istediğiniz blog konusunu bize iletebilirsiniz. Lifena ailesine katılmak için sabırsızlanıyoruz!</p>
                        </div>
                        <div class="col-lg-5 py-5">
                            <div class="card border-radius bg-color-light border-0 box-shadow-3">
                                <div class="card-body p-5 m-2 text-center">
                                    <h4 class="card-title mb-2 text-4">O zaman sizin de blog yazılarımızda yer alma vaktiniz geldi! Hemen blog konunuzu paylaşın, birlikte ilham yaratalım.</h4>
                                    <form class="contact-form" action="php/contact-form.php" method="POST">
                                        <div class="contact-form-success alert alert-success d-none mt-4">
                                            <strong>Success!</strong> Your message has been sent to us.
                                        </div>
                                        <div class="contact-form-error alert alert-danger d-none mt-4">
                                            <strong>Error!</strong> There was an error sending your message.
                                            <span class="mail-error-message text-1 d-block"></span>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col text-start">
                                                <input type="text" value="" placeholder="isim soyisim*" data-msg-required="Please enter your name." maxlength="100" class="form-control text-2-5 p-3" name="name" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col text-start">
                                                <input type="text" value="" placeholder="mail adresi*" data-msg-required="Please enter your phone" maxlength="100" class="form-control text-2-5 p-3" name="phone" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col text-start">
                                                <input type="text" value="" placeholder="blog konusu*" data-msg-required="Please enter your name." maxlength="100" class="form-control text-2-5 p-3" name="blog" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <div class="d-grid gap-2">
                                                    <input type="submit" value="Paylaş" class="btn border-0 btn-tertiary bg-hover-primary text-color-hover-light text-color-primary text-3-5 p-3" data-loading-text="Loading...">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col pt-4">
                                                <div class="hstack gap-3">
                                                    <div class="ms-auto">
                                                        <i class="icons icon-envelope text-4 p-relative top-5 me-2"></i>
                                                        <a href="mailto:you@domain.com" class="text-decoration-none text-2 text-dark text-color-hover-primary ws-nowrap font-weight-semi-bold">info@lifena.com</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
