@{
    ViewBag.Title = "Success-stories";
}
<body class="alternative-font-7">

    <div class="body mt-0">
      


        <div role="main" class="main">

            <section class="page-header page-header-modern bg-transparent">
                <div class="container pt-5 mt-5">
                    <div class="row py-5">
                        <div class="col text-center">
                            <h1 class="text-color-dark text-8 font-weight-bold">Success Stories</h1>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container pt-4 pb-5 mb-5">
                <div class="row">
                    <div class="col">
                        <img src="img/demos/business-consulting-5/generic/generic-3.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="row mb-5 justify-content-center p-relative custom-el-pos-3">
                    <div class="col-lg-10 text-center">
                        <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                            <div class="card-body p-5">
                                <div class="p-lg-5">
                                    <h5 class="opacity-5">Web Marketing</h5>
                                    <h3>Porto Boosts Organic Search</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eleifend dolor, et maximus enim. Donec metus tellus, ornare in fermentum in, vulputate ut lorem.</p>
                                    <a href="#" class="btn btn-modern btn-primary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5">Full Case Study</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col">
                                <img src="img/demos/business-consulting-5/generic/generic-4.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center p-relative custom-el-pos-3">
                            <div class="col-lg-10 text-center">
                                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                    <div class="card-body p-5">
                                        <div class="p-lg-2">
                                            <h5 class="opacity-5">Web Marketing</h5>
                                            <h3 class="text-6">Porto Reduces Cost Per Click</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eleifend dolor, et maximus enim. Donec metus tellus, ornare in fermentum in, vulputate ut lorem.</p>
                                            <a href="#" class="btn btn-modern btn-secondary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5">Full Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col">
                                <img src="img/demos/business-consulting-5/generic/generic-5.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center p-relative custom-el-pos-3">
                            <div class="col-lg-10 text-center">
                                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                    <div class="card-body p-5">
                                        <div class="p-lg-2">
                                            <h5 class="opacity-5">Web Marketing</h5>
                                            <h3 class="text-6">Porto Increases Post Engagement</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eleifend dolor, et maximus enim. Donec metus tellus, ornare in fermentum in, vulputate ut lorem.</p>
                                            <a href="#" class="btn btn-modern btn-secondary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5">Full Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col">
                                <img src="img/demos/business-consulting-5/generic/generic-6.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center p-relative custom-el-pos-3">
                            <div class="col-lg-10 text-center">
                                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                    <div class="card-body p-5">
                                        <div class="p-lg-2">
                                            <h5 class="opacity-5">Web Marketing</h5>
                                            <h3 class="text-6">Porto Boosts Search Results</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eleifend dolor, et maximus enim. Donec metus tellus, ornare in fermentum in, vulputate ut lorem.</p>
                                            <a href="#" class="btn btn-modern btn-secondary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5">Full Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col">
                                <img src="img/demos/business-consulting-5/generic/generic-7.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center p-relative custom-el-pos-3">
                            <div class="col-lg-10 text-center">
                                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                    <div class="card-body p-5">
                                        <div class="p-lg-2">
                                            <h5 class="opacity-5">Web Marketing</h5>
                                            <h3 class="text-6">Porto Boosts Leads</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eleifend dolor, et maximus enim. Donec metus tellus, ornare in fermentum in, vulputate ut lorem.</p>
                                            <a href="#" class="btn btn-modern btn-secondary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5">Full Case Study</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <h3 class="mt-5 pt-4">A Few of the Companies We've Helped Grow...</h3>
                    </div>
                </div>
                <div class="row align-items-center text-center my-5">
                    <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
                        <img src="img/logos/logo-8.png" alt class="img-fluid" style="max-width: 90px;" />
                    </div>
                    <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
                        <img src="img/logos/logo-9.png" alt class="img-fluid" style="max-width: 140px;" />
                    </div>
                    <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
                        <img src="img/logos/logo-10.png" alt class="img-fluid" style="max-width: 140px;" />
                    </div>
                    <div class="col-sm-4 col-xl-2 mb-5 mb-lg-0">
                        <img src="img/logos/logo-11.png" alt class="img-fluid" style="max-width: 140px;" />
                    </div>
                    <div class="col-sm-4 col-xl-2 mb-5 mb-lg-0">
                        <img src="img/logos/logo-12.png" alt class="img-fluid" style="max-width: 100px;" />
                    </div>
                    <div class="col-sm-4 col-xl-2">
                        <img src="img/logos/logo-13.png" alt class="img-fluid" style="max-width: 100px;" />
                    </div>
                </div>
            </div>

            <div class="container-fluid mb-5 py-5">
                <div class="row px-5 mb-4">
                    <div class="col-md-6 col-xl-1-5 mb-4 mb-xl-0">

                        <div data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                            <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                <div class="card-body py-3 px-2">
                                    <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                        <div class="testimonial-author pb-3">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                                            </div>
                                            <p><strong class="font-weight-bold">John Smith</strong><span>CEO & Founder - Okler</span></p>
                                        </div>
                                        <div class="px-4 mx-2 pt-2 pb-3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <p class="mb-0"><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-xl-1-5 mb-4 mb-xl-0">

                        <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                            <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                <div class="card-body py-3 px-2">
                                    <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                        <div class="testimonial-author pb-3">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="img/clients/client-2.jpg" class="img-fluid rounded-circle" alt="">
                                            </div>
                                            <p><strong class="font-weight-bold">John Smith</strong><span>CEO & Founder - Okler</span></p>
                                        </div>
                                        <div class="px-4 mx-2 pt-2 pb-3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <p class="mb-0"><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-xl-1-5 mb-4 mb-xl-0">

                        <div data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                            <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                <div class="card-body py-3 px-2">
                                    <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                        <div class="testimonial-author pb-3">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="img/clients/client-3.jpg" class="img-fluid rounded-circle" alt="">
                                            </div>
                                            <p><strong class="font-weight-bold">John Smith</strong><span>CEO & Founder - Okler</span></p>
                                        </div>
                                        <div class="px-4 mx-2 pt-2 pb-3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <p class="mb-0"><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-xl-1-5 mb-4 mb-xl-0">

                        <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                            <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                <div class="card-body py-3 px-2">
                                    <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                        <div class="testimonial-author pb-3">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="img/clients/client-4.jpg" class="img-fluid rounded-circle" alt="">
                                            </div>
                                            <p><strong class="font-weight-bold">John Smith</strong><span>CEO & Founder - Okler</span></p>
                                        </div>
                                        <div class="px-4 mx-2 pt-2 pb-3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <p class="mb-0"><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-xl-1-5 mb-4 mb-xl-0">

                        <div data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                            <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                <div class="card-body py-3 px-2">
                                    <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                        <div class="testimonial-author pb-3">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="img/clients/client-2.jpg" class="img-fluid rounded-circle" alt="">
                                            </div>
                                            <p><strong class="font-weight-bold">John Smith</strong><span>CEO & Founder - Okler</span></p>
                                        </div>
                                        <div class="px-4 mx-2 pt-2 pb-3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <p class="mb-0"><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <section class="section bg-dark m-0 border-0">
                <div class="container py-5">
                    <div class="row py-5 justify-content-center">
                        <div class="col-lg-6 text-center py-5">
                            <h3 class="mb-4 text-color-light">Ready To Transform Your Small Business Marketing?</h3>
                            <p class="text-4 text-light line-height-4 opacity-6 mb-4">Lorem ipsum dolor sit amet, consectetur lorem ipsum aipiscing anc vivita consectetur lorem ipsum aipiscing anc vivita consectetur lorem ipsum aipiscing anc vivita.</p>

                            <div class="hstack d-block d-lg-flex gap-3">
                                <div class="ms-auto">
                                    <i class="icons icon-envelope text-color-primary text-8 p-relative top-12 me-2"></i>
                                    <a href="mailto:you@domain.com" class="text-decoration-none text-5 text-primary text-color-hover-light ws-nowrap font-weight-semi-bold">porto@domain.com</a>
                                </div>
                                <div class="vr mx-4 p-relative top-10 d-none d-lg-inline-block"></div>
                                <div class="me-auto mt-3 mt-lg-0">
                                    <i class="icons icon-phone text-color-primary text-8 p-relative top-10 me-2"></i>
                                    <a href="tel:+1234567890" class="text-decoration-none text-5 text-primary text-color-hover-light ws-nowrap font-weight-semi-bold">888 123 4567</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

   

</body>
