@{
    ViewBag.Title = "Success-stories";
}
<body class="alternative-font-7">

    <div class="body mt-0">
      


        <div role="main" class="main">

            <section class="page-header page-header-modern bg-transparent">
                <div class="container pt-5 mt-5">
                    <div class="row py-5">
                        <div class="col text-center">
                            <h1 class="text-color-dark text-8 font-weight-bold">Grodea'nın Başarı Hikayeleri</h1>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container pt-4 pb-5 mb-5">
                <div class="row mb-5 justify-content-center p-relative custom-el-pos-3">
                    <div class="col-lg-10 text-center">
                        <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                            <div class="card-body p-5">
                                <div class="p-lg-5">
                                    <h5 class="opacity-5">GROWTH + IDEA = GRODEA</h5>
                                    <h3>Marka Büyüten Fikirler</h3>
                                    <p>Grodea, dijital dünyada markaların büyümesine ve gelişmesine katkıda bulunan yenilikçi çözümleriyle tanınmaktadır. Misyonumuz, müşterilerimizin beklentilerini aşarak onlara etkili ve yaratıcı pazarlama stratejileri sunmaktır. Başarı hikayelerimiz, gerçekleştirdiğimiz projelerin önemini ve bu projelerin nasıl ilham verici sonuçlar doğurduğunu gözler önüne sermektedir. Her bir başarı hikayesi, markaların dijital alanda nasıl güçlendiğini, müşterilerle nasıl daha etkili iletişim kurduğunu ve başarıya ulaşırken karşılaştıkları zorlukların nasıl aşıldığını anlatır. Bu hikayelerin paylaşılması, diğer markalara ve girişimcilere ilham vermekte, onlara kendi yollarında cesaret ve motivasyon sağlamaktadır.</p>
                                    <a href="https://grodea.com/" class="btn btn-modern btn-primary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5" target="_blank">Web sitemizi ziyaret edebilirsiniz</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col text-center">
                                <img src="~/img/demos/business-consulting-5/BasariHikayeleri/BasariHKahramanT.png" class="img-fluid" style="max-width: 60%; height: auto; display: block; margin: 20px auto 0;" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center p-relative custom-el-pos-3">
                            <div class="col-lg-10 text-center">
                                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                    <div class="card-body p-5">
                                        <div class="p-lg-2">
                                            <h5 class="opacity-5">Web Tasarım</h5>
                                            <h3 class="text-6">Kahraman Tarım</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eleifend dolor, et maximus enim. Donec metus tellus, ornare in fermentum in, vulputate ut lorem.</p>
                                            <a href="#" class="btn btn-modern btn-secondary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5">Detaylı bilgi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col text-center">
                                <img src="~/img/demos/business-consulting-5/BasariHikayeleri/BasariHHanC.png" class="img-fluid" style="max-width: 60%; height: auto; display: block; margin: 20px auto 0;" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center p-relative custom-el-pos-3">
                            <div class="col-lg-10 text-center">
                                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                    <div class="card-body p-5">
                                        <div class="p-lg-2">
                                            <h5 class="opacity-5">Sosyal Medya</h5>
                                            <h3 class="text-6">Han Çiftlik</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eleifend dolor, et maximus enim. Donec metus tellus, ornare in fermentum in, vulputate ut lorem.</p>
                                            <a href="#" class="btn btn-modern btn-secondary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5">Detaylı bilgi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col text-center">
                                <img src="~/img/demos/business-consulting-5/BasariHikayeleri/BasariHCeoM.png" class="img-fluid" style="max-width: 60%; height: auto; display: block; margin: 20px auto 0;" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center p-relative custom-el-pos-3">
                            <div class="col-lg-10 text-center">
                                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                    <div class="card-body p-5">
                                        <div class="p-lg-2">
                                            <h5 class="opacity-5">Seo Uyumlu Makale</h5>
                                            <h3 class="text-6">Porto Boosts Search Results</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eleifend dolor, et maximus enim. Donec metus tellus, ornare in fermentum in, vulputate ut lorem.</p>
                                            <a href="#" class="btn btn-modern btn-secondary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5">Detaylı bilgi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col text-center">
                                <img src="~/img/demos/business-consulting-5/BasariHikayeleri/BasariHVillaK.png" class="img-fluid" style="max-width: 60%; height: auto; display: block; margin: 20px auto 0;" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center p-relative custom-el-pos-3">
                            <div class="col-lg-10 text-center">
                                <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                    <div class="card-body p-5">
                                        <div class="p-lg-2">
                                            <h5 class="opacity-5">Web Tasarım</h5>
                                            <h3 class="text-6">Villa Koleji</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget eleifend dolor, et maximus enim. Donec metus tellus, ornare in fermentum in, vulputate ut lorem.</p>
                                            <a href="#" class="btn btn-modern btn-secondary box-shadow-6 border-0 text-transform-none btn-dash mt-2 py-3 px-5">Detaylı bilgi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-5">
                    <div class="col text-center">
                        <h3 class="mt-5 pt-5">Mutlu Müşteriler Motivasyonumuz</h3>
                    </div>
                </div>
                @* <div class="row align-items-center text-center my-5">
            <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
                <img src="img/logos/logo-8.png" alt class="img-fluid" style="max-width: 90px;" />
            </div>
            <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
                <img src="img/logos/logo-9.png" alt class="img-fluid" style="max-width: 140px;" />
            </div>
            <div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
                <img src="img/logos/logo-10.png" alt class="img-fluid" style="max-width: 140px;" />
            </div>
        </div>*@
            </div>
            <div class="container-fluid mb-5 py-9">
                <div class="row justify-content-center">
                    <div class="col-md-4 mb-4">
                        <div data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                            <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                <div class="card-body py-3 px-2">
                                    <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                        <div class="testimonial-author pb-3">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                                            </div>
                                            <p><strong class="font-weight-bold">Ahmet Hoşgör</strong><span>Coderspace</span></p>
                                        </div>
                                        <div class="px-4 mx-2 pt-2 pb-3">
                                            <p>Grodea ile teknoloji & yazılım sektörü için farklı içerik pazarlaması süreçlerinde çalıştık. Oldukça hızlı, modern ve trendlere hakim bir ekip.</p>
                                            <p class="mb-0"><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                            <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                <div class="card-body py-3 px-2">
                                    <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                        <div class="testimonial-author pb-3">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="img/clients/client-2.jpg" class="img-fluid rounded-circle" alt="">
                                            </div>
                                            <p><strong class="font-weight-bold">Gökhan Yıldırım</strong><span>HAN Çiftlik</span></p>
                                        </div>
                                        <div class="px-4 mx-2 pt-2 pb-3">
                                            <p>HAN Çiftlik olarak sosyal medya hesap yönetimi ve dijital içerik hizmetleri için Grodea ile çalışıyoruz. Kısa zamanda yeni müşterilere ulaştığımız ve satışlarımızı artırdığımız için mutluyuz.</p>
                                            <p class="mb-0"><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 10.0, 'transition': true, 'transitionDuration': 1000}">
                            <div class="card border-radius-0 bg-color-light border-0 box-shadow-1">
                                <div class="card-body py-3 px-2">
                                    <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                        <div class="testimonial-author pb-3">
                                            <div class="testimonial-author-thumbnail">
                                                <img src="img/clients/client-3.jpg" class="img-fluid rounded-circle" alt="">
                                            </div>
                                            <p><strong class="font-weight-bold">Fedai Kahraman</strong><span>KAHRAMAN TARIM</span></p>
                                        </div>
                                        <div class="px-4 mx-2 pt-2 pb-3">
                                            <p>GRODEA ile çalışmak harikaydı. Yeni kurumsal internet sitemizi çok beğendik. Kullanımı kolay ve çok şık. Herkese tavsiye ederim. Teşekkürler!</p>
                                            <p class="mb-0"><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="section bg-dark m-0 border-0">
                <div class="container py-5">
                    <div class="row py-5 justify-content-center">
                        <div class="col-lg-6 text-center py-5">
                            <h3 class="mb-4 text-color-light">Birlikte Çalışabiliriz</h3>
                            <p class="text-4 text-light line-height-4 opacity-6 mb-4">Markanızın büyüme yolculuğuna eşlik etmek istiyoruz. Birlikte harika işler çıkarmak için aşağıdaki formu doldurabilirsiniz.</p>
                            <div class="hstack d-block d-lg-flex gap-3">
                                <div class="ms-auto">
                                    <i class="icons icon-envelope text-color-primary text-8 p-relative top-12 me-2"></i>
                                    <a href="mailto:you@domain.com" class="text-decoration-none text-5 text-primary text-color-hover-light ws-nowrap font-weight-semi-bold">hello@grodea.com</a>
                                </div>
                                <div class="vr mx-4 p-relative top-10 d-none d-lg-inline-block"></div>
                                <div class="me-auto mt-3 mt-lg-0">
                                    <i class="icons icon-phone text-color-primary text-8 p-relative top-10 me-2"></i>
                                    <a href="tel:+12345678900" class="text-decoration-none text-5 text-primary text-color-hover-light ws-nowrap font-weight-semi-bold">+90 (530) 613 48 46</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

   

</body>
